<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ asset('bundles/crudplatform/public/main.css') }}" type="text/css" />

    <title>Bienvenue sur le tableau des amoureux de la nature !</title>
</head>
<body>
<h3>Formulaire d'ajout</h3>

<div class="well">
    {{ form(form) }}
</div>
